<section>
    <div id="particles-js"></div>
    <div id="particlespacetaker"></div>
    <!-- Modal -->
        
    <div id="aboutUs" class="position-absolute container-fluid">
      <div id="jumbotron" class="jumbotron">
        <div class="container">
          <h1 class="display-4">Endless Growth Opportunities</h1>
          <p class="lead mb-0">Personal Development, Invesment, and Recreation in the Holy Land</p>
        </div>
      </div>
      <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-6 spacing">
            <h2 class="display-4">Our Vision</h2>
            <p>
                No other place on earth offers such rich and diverse opportunities as does the State of Israel. 
                A start-up nation to its core, you quickly discover that innovation, passion, and creativity typify business and travel 
                opportunities in Israel. Sar-El Group, a leader in these markets, is best positioned to introduce you to endless opportunities 
                for personal enrichment and return-on-investment in Israel’s cutting-edge and developing industries.
            </p>
          </div>
          <div class="col-lg-4 col-md-6 spacing">
            <img src="https://sarel.cdn.prismic.io/sarel/813ae43a-512d-485c-a83d-54e5312de94c_Tourslogo-whitegold.svg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 spacing">
            <h2 class="display-4">Our Story</h2>
            <p>
              Launched 30 years ago in Jerusalem by Samuel and Susan Smadja as a single office Travel Agency, 
              Sar-El Group has grown to become a diversified group of companies, interrelated and coordinated to produce perfect business 
              solutions for its clients and partners. The Group offers all-inclusive travel services as well as business and investment 
              opportunities for domestic and international parties, spanning tours operation (DMC and online), media & event production, 
              hotels, transportation, restaurants, VIP services, real estate, education, and more.
            </p>
          </div>
          <div class="col-md-6 col-sm-12 spacing">
              <h2 class="display-4">Our Future</h2>
              <p>
                Having served more than one million customers from thousands of travel agencies and Christian 
                organizations from around the globe, Sar-El Tours & Conferences has gained an impeccable reputation for 
                its professional, reliable, and innovative business solutions.
              </p>
          </div>
        </div>
    </div>
  
