<div class="modal fade" id="first-modal" tabindex="-1" role="dialog" aria-labelledby="first-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="contatModalLongTitle">Contact Form</h5>
          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Some details so we can easily get in touch with you and connect you to the right agent or Sar-El representative.</p>
          <form method="POST" action="/">
            <p class="two-vh">I'm a:</p>
            <div class="form-check two-vh">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
              <label class="form-check-label" for="exampleRadios1">
                Tour Agent
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                Tour Leader
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
              <label class="form-check-label" for="exampleRadios3">
                Individual Traveler
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4">
              <label class="form-check-label" for="exampleRadios3">
                Other
              </label>
            </div>
            <p class="two-vh">Have you ever traveled with us before?</p>
            <div class="form-check two-vh">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
              <label class="form-check-label" for="exampleRadios1">
                Yes
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                No
              </label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-target="#second-modal" data-dismiss="modal">Next</button>
        </div>
    </div>
  </div>

  <!-- second modal -->

  <div class="modal fade" id="second-modal" tabindex="-1" role="dialog" aria-labelledby="second-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="second-contatModalLongTitle">Contact Form</h5>
          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Next</button>
        </div>
    </div>
  </div>
  