<!-- FOOTER -->
<footer class="container-fluid py-4 flex-shrink-0 bg-dark">
    <div class="container py-4">
        <div class="row gy-4 gx-5">
            <div class="col-lg-4 col-md-6">
                <h5 class="h1 text-white">Sar-El Group</h5>
                <p class="small text-muted">Endless Growth Opportunities
                    Personal Development, Invesment, and Recreation in the Holy Land</p>
                <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary" href="https://sareltours.com">sareltours.com</a></p>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-white mb-3 two-vh">Page</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-white mb-3 two-vh">Services & Connections</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="#">Tourism</a></li>
                    <li><a href="#">Events & Production</a></li>
                    <li><a href="#">Investment</a></li>
                    <li><a href="#">Real Estate</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-white mb-3 two-vh">Our Brands</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="#">Sar-El Tours & Conferences</a></li>
                    <li><a href="#">Sar-El Hotels</a></li>
                    <li><a href="#">Sar-El Transportation</a></li>
                    <li><a href="#">Sar-El Media & Production</a></li>
                    <li><a href="#">TBN Israel</a></li>
                    <li><a href="#">TBN France</a></li>
                    <li><a href="#">Sar-El Online</a></li>
                    <li><a href="#">Travel Composer</a></li>
                    <li><a href="#">Sar-El Markets</a></li>
                    <li><a href="#">David’s Harp on the Water</a></li>
                    <li><a href="#">El-Ram Real Estate</a></li>
                    <li><a href="#">Sar-El Academy</a></li>
                    <li><a href="#">Sar-El Adventures</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-white mb-3 two-vh">News</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="#">Updates</a></li>
                    <li><a href="#">Stories</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</div>  
</section>