<div class="container two-vh">
    <h1 class="display-4">Our Companies & Brands</h1>
</div>
<div class="container links twelve-vh">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://vhx.imgix.net/hillsongchannel/assets/79ddf6b7-7abe-4bc6-9120-eed3f9b8d3e9-824fb2ed.jpeg?auto=format%2Ccompress&fit=crop&h=360&q=70&w=640" alt="..." class="img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Sar-El Tours & Conferences</h5>
                    <p class="card-text">
                        Coordinates the services of hundreds of professional Travel Consultants and Tour Guides
                    </p>
                    <div class="d-flex justify-content-between align-items-center link-buttons">
                        <div class="btn-group two-vh">
                            <button class="btn btn-sm btn-outline-secondary">Visit Site</button>
                        </div>
                        <small class="text-success two-vh">Available</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://pix10.agoda.net/hotelImages/65/65/65_14110716040023242511.jpg?s=1024x768" alt="..." class="img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Sar-El Hotels</h5>
                    <p class="card-text">
                        Building and investing in new hotels at prime locations.
                    </p>
                    <div class="d-flex justify-content-between align-items-center link-buttons">
                        <div class="btn-group two-vh">
                            <button class="btn btn-sm btn-outline-secondary">Visit Site</button>
                        </div>
                        <small class="text-success two-vh">Available</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://images.prismic.io/sarel/f38a6724-743c-41ea-9f10-df90199438f3_Sar-El-Buses-2.jpg?auto=compress,format" alt="..." class="img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Sar-El Transportation</h5>
                    <p class="card-text">
                        Operating an extensive fleet of modern buses and VIP vans.
                    </p>
                    <div class="d-flex justify-content-between align-items-center link-buttons">
                        <div class="btn-group two-vh">
                            <button class="btn btn-sm btn-outline-secondary">Visit Site</button>
                        </div>
                        <small class="text-success two-vh">Available</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://www.theblackandblue.com/wp-content/uploads/2013/10/arri_alexa_camera_on_set.jpg" alt="..." class="img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Sar-El Media & Production</h5>
                    <p class="card-text">
                        Providing state-of-the-art media & production services.
                    </p>
                    <div class="d-flex justify-content-between align-items-center link-buttons">
                        <div class="btn-group two-vh">
                            <button class="btn btn-sm btn-outline-secondary">Visit Site</button>
                        </div>
                        <small class="text-success two-vh">Available</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://i0.wp.com/www.touristisrael.com/wp-content/uploads/2020/01/210910570-4.jpg?fit=805%2C405&ssl=1" alt="..." class="img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">TBN Israel</h5>
                    <p class="card-text">
                        Coordinating and producing Christian media throughout the Middle East.
                    </p>
                    <div class="d-flex justify-content-between align-items-center link-buttons">
                        <div class="btn-group two-vh">
                            <button class="btn btn-sm btn-outline-secondary">Visit Site</button>
                        </div>
                        <small class="text-success two-vh">Available</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://www.jpost.com//HttpHandlers/ShowImage.ashx?id=369923&w=822&h=537" alt="..." class="img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">TBN France</h5>
                    <p class="card-text">
                        Coordinating and producing Christian media in France.
                    </p>
                    <div class="d-flex justify-content-between align-items-center link-buttons">
                        <div class="btn-group two-vh">
                            <button class="btn btn-sm btn-outline-secondary">Visit Site</button>
                        </div>
                        <small class="text-success two-vh">Available</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://cdn.siasat.com/wp-content/uploads/2019/03/online-store.png" alt="..." class="img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Sar-El Online</h5>
                    <p class="card-text">
                        Operating an online tourism booking system for international clients.
                    </p>
                    <div class="d-flex justify-content-between align-items-center link-buttons">
                        <div class="btn-group two-vh">
                            <button class="btn btn-sm btn-outline-secondary">Visit Site</button>
                        </div>
                        <small class="text-success two-vh">Available</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C4D1BAQGdbKYJ15kwJA/company-background_10000/0/1522064246960?e=2159024400&v=beta&t=ytQD_CbEOg_1adxtjgZpDAgO6iX2kCz8S7D8ebF-JqE" alt="..." class="img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Travel Composer</h5>
                    <p class="card-text">
                        Offering luxury travel services.
                    </p>
                    <div class="d-flex justify-content-between align-items-center link-buttons">
                        <div class="btn-group two-vh">
                            <button class="btn btn-sm btn-outline-secondary">Visit Site</button>
                        </div>
                        <small class="text-success two-vh">Available</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://www.linguahouse.com/linguafiles/md5/d01dfa8621f83289155a3be0970fb0cb" alt="..." class="img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Sar-El Markets</h5>
                    <p class="card-text">
                        Operating multiple specialty restaurants in popular locations.
                    </p>
                    <div class="d-flex justify-content-between align-items-center link-buttons">
                        <div class="btn-group two-vh">
                            <button class="btn btn-sm btn-outline-secondary">Visit Site</button>
                        </div>
                        <small class="text-success two-vh">Available</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://fij-jw8wvr0jv.netdna-ssl.com/wp-content/uploads/2020/01/Nevel-David-26.jpg" alt="..." class="img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">David’s Harp on the Water</h5>
                    <p class="card-text">
                        Presenting a specialty cuisine overlooking the incredible views of the Sea of Galilee.
                    </p>
                    <div class="d-flex justify-content-between align-items-center link-buttons">
                        <div class="btn-group two-vh">
                            <button class="btn btn-sm btn-outline-secondary">Visit Site</button>
                        </div>
                        <small class="text-success two-vh">Available</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://www.nabasoft.com/wp-content/uploads/2016/04/real_Estate.jpg" alt="..." class="img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">El-Ram Real Estate</h5>
                    <p class="card-text">
                        Developing Real-Estate projects throughout Israel.
                    </p>
                    <div class="d-flex justify-content-between align-items-center link-buttons">
                        <div class="btn-group two-vh">
                            <button class="btn btn-sm btn-outline-secondary">Visit Site</button>
                        </div>
                        <small class="text-success two-vh">Available</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/565f0197e4b00f2eedd1f007/1449073480700-MGC2R43HJJSTYRLZ3P97/AoiToutside-1.jpg?format=2500w" alt="..." class="img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Sar-El Academy</h5>
                    <p class="card-text">
                        Creating complimentary educational content for our clients.
                    </p>
                    <div class="d-flex justify-content-between align-items-center link-buttons">
                        <div class="btn-group two-vh">
                            <button class="btn btn-sm btn-outline-secondary">Visit Site</button>
                        </div>
                        <small class="text-success two-vh">Available</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://globalcastaway.com/wp-content/uploads/2019/11/102-amazing-adventure-quotes.jpg" alt="..." class="img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">Sar-El Adventures</h5>
                    <p class="card-text">
                        Operating high-impact & action-filled adventure travel.
                    </p>
                    <div class="d-flex justify-content-between align-items-center link-buttons">
                        <div class="btn-group two-vh">
                            <button class="btn btn-sm btn-outline-secondary" disabled>Visit Site</button>
                        </div>
                        <small class="text-info two-vh">Coming Soon...</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        </div>
    </div>
</div>